@font-face {
    font-family: "Lato";
    src: url("../webfonts/Lato-Regular.woff2") format("woff2"),
        url("../webfonts/Lato-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../webfonts/Lato-Black.woff2") format("woff2"),
        url("../webfonts/Lato-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../webfonts/Lato-Medium.woff2") format("woff2"),
        url("../webfonts/Lato-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
